

  <div class="max-width">
	<div ng-include ="'/partials/headerLite.html'"></div>
	
	<section id="about" >
		<div class="heading row">
			<h1 class="heading-text">How It Works</h1>
		</div>
		<div class="underline"></div>
		<div class ="row">
		    <div class= "col-xs-12">
				<div class="how1">
					<h3>Register for an Account</h3>
					<p>The first thing you need to do is <a a ui-sref="register">register</a> for an account. After registering you will be able to submit requests for pickup and have your food delivered to your door!</p>
				</div>
				
				<div class="how1">
					<h3>Order Your Food</h3>
					<p>Place an order for food from a local restaurant and the system will automatically find the nearest driver at the best cost.</p>
				</div>
				
				<div class="how1">
					<h3>Confirm Your Request</h3>
					<p>Before any request is submitted, you have the chance to review it and make any changes or cancellations..</p>
				</div>
		    </div>	
		</div>
		<div class="clear"></div>
	</section>
	<div ng-include="'partials/footer.html'"></div>
	
	
 </div><!--End .max-width--->
